# Copy to .env and adjust as needed
DATABASE_URL="postgresql://admin:pwd@localhost:5432/debt_management?schema=public"

# JWT Secret for authentication (generate a strong random string in production)
JWT_SECRET="ix6/QiWS0bktwjm235kAdnE/KlYhqG99FuwosqDjpsjOgIkmOoOV/jBlQFozLMcq
inW9EoIYcpCMBdb895kdmQ=="
